<!DOCTYPE html>
<html>
  <head>
    <title>Random Compliment Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id='randoColor'>
    <h1 id="compliment">
      Replace me with random compliment from <a href="/random-compliment"></a>
    </h1>

    <button id="generateRandomCompliment">
      Give me another compliment!
    </button>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
  </body>
</html>
