<!DOCTYPE html>
<html>
  <head>
    <title>Random Compliment Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Lobster|Nova+Flat|Roboto+Slab" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="theme1">
    <h1 id="compliment">

    </h1>

    <a id="generateRandomCompliment" href='#'>
      Give me another compliment!
    </a>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
  </body>
</html>
