<!DOCTYPE html>
<html>
  <head>
    <title>Random Compliment Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="compliment"></h1>

    <button id="generateRandomCompliment">
      Generate Random Compliment
    </button>
  </body>
</html>
